<mat-expansion-panel hideToggle #panel [expanded]="expanded" class="mat-elevation-z0">
  <mat-expansion-panel-header expandedHeight="80px" collapsedHeight="80px" (click)="clickBlock($event)">
    <span noSelect (mouseenter)="togglePanel($event)" (mouseleave)="togglePanel($event)">hi</span> 
  </mat-expansion-panel-header>

  <ng-template matExpansionPanelContent>
    <div style="text-align: center;">
      <div>
        app is running!
      </div>
      <h2>Resources</h2>
      <p>Here are some links to help you get started:</p>
    </div>
  </ng-template>
</mat-expansion-panel>

<span noSelect>{{expanded}}</span>
<div fxLayout="column" fxLayoutAlign="start start" >
  <span appStopPropagation matBadge="15" matBadgeColor="warn" matBadgePosition="above after">
    <img src="assets/ansible.svg" height="42px" matBadge="15" matBadgeColor="warn" matBadgePosition="above after">
  </span>
  <a href="#" matBadge="15" matBadgeColor="warn" matBadgePosition="above">
    <img src="assets/mulesoft.svg" height="42px">
  </a>
  <a href="#" matBadge="15" matBadgeColor="warn" matBadgePosition="above">
    <img src="assets/puppet.svg" height="42px">
  </a>
</div>
