:host ::ng-deep {

    mat-expansion-panel {
        margin: 0;
        padding: 0;
        border-radius: 0px !important;
        background: none;
        background-image: url("https://images.unsplash.com/photo-1503095396549-807759245b35?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=2000&fit=max&ixid=eyJhcHBfaWQiOjExNzczfQ");
        
        .mat-expansion-panel {
            margin: 0;
            padding: 0;
        }

        mat-expansion-panel-header {
            margin: 0;
            padding: 0;
            cursor: default !important;

            &:hover {
                margin: 0;
                padding: 0;
                cursor: default !important;
                background: none !important;
            }
        }


        .mat-content {
            display: block;
            overflow: visible;
        }

        .mat-expansion-panel-body {
            padding: 0;
            // background-image: url("https://lh3.googleusercontent.com/proxy/nfnXnGRhc5E4vH-eYXzSExbBF-Zbwv-bBQQQuoeHAum741QLUMINzQ-dTew2Zq__rh9Ug_PtbCa_t_FhFQEhZKOsbxPodDZk9J-mwCf7hb27XsrDcl9WNKA-_v-ZZQ5Y");
            // background: url(../assets/sky.svg) bottom repeat-y;
        }

    }

}
